USE [ComputerVision]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[ParentID] [int] NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingUser]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BuildingID] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_BuildingUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Car_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lines]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Line_Name] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Line] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Line_ID] [int] NULL,
	[Line_Name] [nvarchar](max) NULL,
	[Car_ID] [int] NULL,
	[Car_Name] [nvarchar](max) NULL,
	[PO] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[DueDate] [date] NULL,
	[Status] [bit] NULL,
	[Amount] [int] NULL,
	[IsStart] [bit] NOT NULL,
	[Time_Start] [datetime2](7) NULL,
	[Time_End] [datetime2](7) NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawDatas]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawDatas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeRecieve] [datetime2](7) NULL,
	[Count] [int] NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[Line] [nvarchar](max) NULL,
	[Camera] [nvarchar](max) NULL,
 CONSTRAINT [PK_RawDatas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Expires] [datetime2](7) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[CreatedByIp] [nvarchar](max) NULL,
	[Revoked] [datetime2](7) NULL,
	[RevokedByIp] [nvarchar](max) NULL,
	[ReplacedByToken] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUsers]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Status] [bit] NULL,
	[Create_Time] [datetime2](7) NULL,
 CONSTRAINT [PK_RoleUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[BuildingID] [int] NOT NULL,
	[MachineCode] [nvarchar](max) NULL,
	[MachineType] [nvarchar](max) NULL,
	[MaxRPM] [int] NOT NULL,
	[MinRPM] [int] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLines]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLines](
	[TimeLine_ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeLine_Action] [nvarchar](max) NULL,
	[ToDoList_ID] [int] NULL,
	[Signed_Time] [datetime2](7) NULL,
	[Approve_Time] [datetime2](7) NULL,
	[Reject_Time] [datetime2](7) NULL,
	[UserID] [int] NULL,
	[UserName] [nvarchar](max) NULL,
	[Created_Time] [datetime2](7) NULL,
	[Role_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_TimeLine] PRIMARY KEY CLUSTERED 
(
	[TimeLine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Times]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Times](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Plan_ID] [int] NULL,
	[Time_Start] [datetime2](7) NULL,
	[Time_End] [datetime2](7) NULL,
 CONSTRAINT [PK_Times] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoLists]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoLists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[File_Name] [nvarchar](max) NULL,
	[File_Code] [nvarchar](max) NULL,
	[Topic] [nvarchar](max) NULL,
	[Created_By] [int] NULL,
	[Approve_By] [int] NULL,
	[Created_Date] [datetime2](7) NULL,
	[Approve_Date] [datetime2](7) NULL,
	[Status] [bit] NULL,
	[Seen_Status] [bit] NULL,
	[Seen_Time] [datetime2](7) NULL,
	[Pending_Status] [bit] NULL,
	[Complete_Status] [bit] NULL,
	[Delete_By] [int] NULL,
	[Delete_Time] [datetime2](7) NULL,
	[Reasion] [nvarchar](max) NULL,
	[Reject_Status] [bit] NULL,
	[URL] [nvarchar](max) NULL,
	[Leader_Status] [bit] NULL,
	[Supervisor_Status] [bit] NULL,
	[Signed_By] [int] NULL,
	[Signed_Date] [datetime2](7) NULL,
	[isShow] [bit] NULL,
 CONSTRAINT [PK_ToDoList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2022 3:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[OCID] [int] NULL,
	[LevelOC] [int] NULL,
	[Email] [nvarchar](max) NULL,
	[RoleID] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
	[ImageBase64] [varbinary](max) NULL,
	[isLeader] [bit] NULL,
	[AccessTokenLineNotify] [nvarchar](max) NULL,
	[EmployeeID] [nvarchar](max) NULL,
	[DeleteBy] [int] NULL,
	[IsShow] [bit] NULL,
	[ModifyTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([ID], [Name], [Level], [ParentID]) VALUES (8, N'SHC', 1, NULL)
INSERT [dbo].[Buildings] ([ID], [Name], [Level], [ParentID]) VALUES (91, N'FHO (Factory Head Office)', 2, 8)
INSERT [dbo].[Buildings] ([ID], [Name], [Level], [ParentID]) VALUES (93, N'Lab Team', 3, 91)
SET IDENTITY_INSERT [dbo].[Buildings] OFF
SET IDENTITY_INSERT [dbo].[BuildingUser] ON 

INSERT [dbo].[BuildingUser] ([ID], [UserID], [BuildingID], [CreatedDate], [Status]) VALUES (51, 2, 91, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[BuildingUser] ([ID], [UserID], [BuildingID], [CreatedDate], [Status]) VALUES (57, 4, 93, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[BuildingUser] ([ID], [UserID], [BuildingID], [CreatedDate], [Status]) VALUES (58, 3, 93, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[BuildingUser] OFF
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([ID], [Car_name]) VALUES (1, N'car_1')
INSERT [dbo].[Cars] ([ID], [Car_name]) VALUES (2, N'car_2')
INSERT [dbo].[Cars] ([ID], [Car_name]) VALUES (3, N'car_3')
SET IDENTITY_INSERT [dbo].[Cars] OFF
SET IDENTITY_INSERT [dbo].[Lines] ON 

INSERT [dbo].[Lines] ([ID], [Line_Name], [Status]) VALUES (1, N'Cam 1', 1)
INSERT [dbo].[Lines] ([ID], [Line_Name], [Status]) VALUES (2, N'Cam 2', 1)
INSERT [dbo].[Lines] ([ID], [Line_Name], [Status]) VALUES (3, N'Cam 3', 0)
SET IDENTITY_INSERT [dbo].[Lines] OFF
SET IDENTITY_INSERT [dbo].[Plans] ON 

INSERT [dbo].[Plans] ([ID], [Line_ID], [Line_Name], [Car_ID], [Car_Name], [PO], [CreatedDate], [CreatedDateTime], [DueDate], [Status], [Amount], [IsStart], [Time_Start], [Time_End]) VALUES (38, 0, N'Cam 1', 0, N'Truck 1', NULL, CAST(N'2021-05-04T09:01:59.423' AS DateTime), CAST(N'2021-05-04T09:01:59.4216119' AS DateTime2), CAST(N'2021-05-04' AS Date), NULL, 0, 0, NULL, NULL)
INSERT [dbo].[Plans] ([ID], [Line_ID], [Line_Name], [Car_ID], [Car_Name], [PO], [CreatedDate], [CreatedDateTime], [DueDate], [Status], [Amount], [IsStart], [Time_Start], [Time_End]) VALUES (39, 0, N'Cam 2', 0, N'Truck 1', NULL, CAST(N'2021-05-04T09:02:06.707' AS DateTime), CAST(N'2021-05-04T09:02:06.7078842' AS DateTime2), CAST(N'2021-05-04' AS Date), NULL, 0, 0, NULL, NULL)
INSERT [dbo].[Plans] ([ID], [Line_ID], [Line_Name], [Car_ID], [Car_Name], [PO], [CreatedDate], [CreatedDateTime], [DueDate], [Status], [Amount], [IsStart], [Time_Start], [Time_End]) VALUES (40, 0, N'Cam 1', 0, N'Truck 2', NULL, CAST(N'2021-05-04T09:02:14.137' AS DateTime), CAST(N'2021-05-04T09:02:14.1368697' AS DateTime2), CAST(N'2021-05-04' AS Date), NULL, 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Plans] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name], [CreatedDate]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Roles] ([ID], [Name], [CreatedDate]) VALUES (2, N'Supervisor', NULL)
INSERT [dbo].[Roles] ([ID], [Name], [CreatedDate]) VALUES (3, N'Leader', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[RoleUsers] ON 

INSERT [dbo].[RoleUsers] ([ID], [RoleID], [UserID], [Status], [Create_Time]) VALUES (4, 5, 69, 1, CAST(N'2021-01-22T07:37:50.3078418' AS DateTime2))
INSERT [dbo].[RoleUsers] ([ID], [RoleID], [UserID], [Status], [Create_Time]) VALUES (7, 3, 2, 1, CAST(N'2021-01-22T07:37:50.3078418' AS DateTime2))
INSERT [dbo].[RoleUsers] ([ID], [RoleID], [UserID], [Status], [Create_Time]) VALUES (8, 5, 3, 1, CAST(N'2021-01-22T07:37:50.3078418' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RoleUsers] OFF
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([ID], [Name], [BuildingID], [MachineCode], [MachineType], [MaxRPM], [MinRPM]) VALUES (1, NULL, 8, N'EM001', N'Oil', 250, 350)
INSERT [dbo].[Settings] ([ID], [Name], [BuildingID], [MachineCode], [MachineType], [MaxRPM], [MinRPM]) VALUES (2, NULL, 8, N'EM002', N'Water', 250, 350)
INSERT [dbo].[Settings] ([ID], [Name], [BuildingID], [MachineCode], [MachineType], [MaxRPM], [MinRPM]) VALUES (3, NULL, 8, N'EM003', N'Test', 6, 3)
SET IDENTITY_INSERT [dbo].[Settings] OFF
SET IDENTITY_INSERT [dbo].[TimeLines] ON 

INSERT [dbo].[TimeLines] ([TimeLine_ID], [TimeLine_Action], [ToDoList_ID], [Signed_Time], [Approve_Time], [Reject_Time], [UserID], [UserName], [Created_Time], [Role_Name]) VALUES (15, N'Signed', 6, CAST(N'2021-01-22T15:56:15.9524961' AS DateTime2), NULL, NULL, 2, N'Swook', CAST(N'2021-01-22T15:56:15.9523915' AS DateTime2), N'Leader')
INSERT [dbo].[TimeLines] ([TimeLine_ID], [TimeLine_Action], [ToDoList_ID], [Signed_Time], [Approve_Time], [Reject_Time], [UserID], [UserName], [Created_Time], [Role_Name]) VALUES (16, N'Signed', 8, CAST(N'2021-01-22T16:03:06.6918763' AS DateTime2), NULL, NULL, 2, N'Swook', CAST(N'2021-01-22T16:03:06.6917805' AS DateTime2), N'Leader')
INSERT [dbo].[TimeLines] ([TimeLine_ID], [TimeLine_Action], [ToDoList_ID], [Signed_Time], [Approve_Time], [Reject_Time], [UserID], [UserName], [Created_Time], [Role_Name]) VALUES (17, N'Signed', 8, NULL, CAST(N'2021-01-22T16:03:24.8361998' AS DateTime2), NULL, 43, N'Erick', CAST(N'2021-01-22T16:03:24.8361965' AS DateTime2), N'Supervisor')
SET IDENTITY_INSERT [dbo].[TimeLines] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[RoleUsers] ADD  DEFAULT ((0)) FOR [UserID]
GO
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [DF__Settings__Buildi__47A6A41B]  DEFAULT ((0)) FOR [BuildingID]
GO
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [DF__Settings__MaxRPM__489AC854]  DEFAULT ((0)) FOR [MaxRPM]
GO
ALTER TABLE [dbo].[Settings] ADD  CONSTRAINT [DF__Settings__MinRPM__498EEC8D]  DEFAULT ((0)) FOR [MinRPM]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__DeleteBy__30C33EC3]  DEFAULT ((0)) FOR [DeleteBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsShow__31B762FC]  DEFAULT (CONVERT([bit],(0))) FOR [IsShow]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__ModifyTim__32AB8735]  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ModifyTime]
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD  CONSTRAINT [FK_Settings_Buildings_BuildingID] FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Settings] CHECK CONSTRAINT [FK_Settings_Buildings_BuildingID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleID]
GO
