USE [LabTeam]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/17/2022 3:57:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCs]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [float] NOT NULL,
	[ParentID] [int] NOT NULL,
	[URL] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OKRCategory]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OKRCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OKRDetails]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OKRDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[OKRID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OKRs]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OKRs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NULL,
	[Parentid] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[WorkBy] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
	[CreatedDate] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShortenLinks]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShortenLinks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RealLink] [nvarchar](max) NULL,
	[FakeLink] [nvarchar](max) NULL,
	[CreatedDateTime] [datetime] NULL,
 CONSTRAINT [PK_ShortenLink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Subtitle] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[JobName] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[FacebookURL] [nvarchar](max) NULL,
	[TwitterURL] [nvarchar](max) NULL,
	[InstagramURL] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/17/2022 3:57:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[Email] [nvarchar](max) NULL,
	[RoleID] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
	[OCID] [int] NULL,
	[LevelOC] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([ID], [Name], [Description], [URL], [Image], [Content]) VALUES (1, N'HTML+CSS', N'This Class contains how  .......', NULL, N'http://10.4.5.174:94/image/lessons-learned.jpg', N'<p><b>1.What is Html ?</b></p><ol><li>3214</li><li>234234</li><li>23424</li><li>3424​</li></ol><p><strong>2.What is CSS ?﻿﻿</strong><br></p><ol><li>1231231</li><li>123123﻿﻿</li></ol>')
SET IDENTITY_INSERT [dbo].[Articles] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Description]) VALUES (1, N'Project', N'project')
INSERT [dbo].[Categories] ([ID], [Name], [Description]) VALUES (2, N'OKR', NULL)
INSERT [dbo].[Categories] ([ID], [Name], [Description]) VALUES (3, N'NEWS', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[OCs] ON 

INSERT [dbo].[OCs] ([ID], [Name], [Level], [ParentID], [URL], [Path], [UserID], [CreatedDate]) VALUES (1100, N'Moderator Privilege', 2, 75, N'http://10.4.5.174:94/video/bandicam 2020-04-09 09-31-23-848.mp4', N'\\svproxy\Public\VP\Peter\KPIVIDEO', 1, CAST(N'2020-04-29T08:48:28.4153533' AS DateTime2))
INSERT [dbo].[OCs] ([ID], [Name], [Level], [ParentID], [URL], [Path], [UserID], [CreatedDate]) VALUES (75, N'KPI SYSTEM', 1, 0, NULL, N'', 1, CAST(N'2020-04-29T08:48:28.4153533' AS DateTime2))
INSERT [dbo].[OCs] ([ID], [Name], [Level], [ParentID], [URL], [Path], [UserID], [CreatedDate]) VALUES (76, N'6 steps for creating and mapping', 2, 75, N'http://10.4.5.174:94/video/6 steps for creating and mapping.mp4', N'\\svproxy\Public\VP\Peter\KPIVIDEO', 1, CAST(N'2020-04-29T08:48:28.4153533' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OCs] OFF
SET IDENTITY_INSERT [dbo].[OKRCategory] ON 

INSERT [dbo].[OKRCategory] ([ID], [Name]) VALUES (1, N'OKR CONFIDENCE
')
INSERT [dbo].[OKRCategory] ([ID], [Name]) VALUES (2, N'TEAM HEALTH
')
INSERT [dbo].[OKRCategory] ([ID], [Name]) VALUES (3, N'OKR PROGRESS')
SET IDENTITY_INSERT [dbo].[OKRCategory] OFF
SET IDENTITY_INSERT [dbo].[OKRDetails] ON 

INSERT [dbo].[OKRDetails] ([ID], [CategoryID], [Content], [OKRID]) VALUES (80, 1, N'KR: The decision-making and information-analyzing modules are required for every system. (5/10)', 1)
INSERT [dbo].[OKRDetails] ([ID], [CategoryID], [Content], [OKRID]) VALUES (81, 1, N'KR: Net Promoter Score > 0 (6/10)', 1)
INSERT [dbo].[OKRDetails] ([ID], [CategoryID], [Content], [OKRID]) VALUES (83, 3, N'P1: Help Joanna deploy KPI system (PIC : Peter)', 1)
SET IDENTITY_INSERT [dbo].[OKRDetails] OFF
SET IDENTITY_INSERT [dbo].[OKRs] ON 

INSERT [dbo].[OKRs] ([ID], [Name], [Level], [Parentid]) VALUES (1, N'Object Key Result 2020 - week 18', 1, 0)
SET IDENTITY_INSERT [dbo].[OKRs] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ID], [Name], [Description], [Image], [URL], [WorkBy], [CategoryID], [CreatedDate]) VALUES (1022, N'Task Management System', NULL, N'http://10.4.5.174:94/image/task-management-tile-To-Do_0.png', N'http://10.4.5.174:97', N'undefined', NULL, CAST(N'2020-04-28T14:57:05.3802772' AS DateTime2))
INSERT [dbo].[Projects] ([ID], [Name], [Description], [Image], [URL], [WorkBy], [CategoryID], [CreatedDate]) VALUES (2014, N'Mixing room (new version 2021)', NULL, N'http://10.4.5.174:94/image/11.jpg', N'http://10.4.5.174:1005/', N'Henry', NULL, CAST(N'2020-04-28T14:57:05.3802772' AS DateTime2))
INSERT [dbo].[Projects] ([ID], [Name], [Description], [Image], [URL], [WorkBy], [CategoryID], [CreatedDate]) VALUES (1, N'RPM IoT of Mixing room', NULL, N'http://10.4.5.174:94/image/33.jpg', N'http://10.4.5.174:8082/', N'null', 1, CAST(N'2020-04-28T14:57:05.3802772' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ShortenLinks] ON 

INSERT [dbo].[ShortenLinks] ([ID], [RealLink], [FakeLink], [CreatedDateTime]) VALUES (65, N'https:%2F%2Ftedu.com.vn%2Fkien-thuc%2Ftao-dockerfile-cho-project-aspnet-core-build-va-run-docker-image-198.html', N'kuW', CAST(N'2020-06-08T14:38:09.483' AS DateTime))
INSERT [dbo].[ShortenLinks] ([ID], [RealLink], [FakeLink], [CreatedDateTime]) VALUES (66, N'https:%2F%2Fviblo.asia%2Fp%2Fdocker-vs-docker-compose-RnB5pXGd5PG', N'lNm', CAST(N'2020-06-08T15:19:48.347' AS DateTime))
INSERT [dbo].[ShortenLinks] ([ID], [RealLink], [FakeLink], [CreatedDateTime]) VALUES (67, N'http:%2F%2F10.4.4.224:100%2Ftodolist', N'lDT', CAST(N'2020-06-08T15:36:24.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShortenLinks] OFF
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([ID], [Title], [Image], [Subtitle]) VALUES (4, N'您好，我們是SHC的FHO團隊!', N'http://10.4.5.174:94/slide/slide-1.jpg', N'')
INSERT [dbo].[Slides] ([ID], [Title], [Image], [Subtitle]) VALUES (5, N'我們致力於提升合作夥伴的工作品質與效率', N'http://10.4.5.174:94/slide/slide-2.jpg', N'')
INSERT [dbo].[Slides] ([ID], [Title], [Image], [Subtitle]) VALUES (6, N'團隊合作、共享成果、成就你我', N'http://10.4.5.174:94/slide/slide-3.jpg', N'')
SET IDENTITY_INSERT [dbo].[Slides] OFF
SET IDENTITY_INSERT [dbo].[TeamMembers] ON 

INSERT [dbo].[TeamMembers] ([ID], [Name], [JobName], [Image], [Position], [FacebookURL], [TwitterURL], [InstagramURL]) VALUES (1, N'Swook', N'Manager', N'http://10.4.5.174:94/team/848A35C8-EABE-401F-A3B6-4AE9D1BB68DD.jpg', 1, NULL, NULL, NULL)
INSERT [dbo].[TeamMembers] ([ID], [Name], [JobName], [Image], [Position], [FacebookURL], [TwitterURL], [InstagramURL]) VALUES (2, N'Peter', N'Software Team Leader', N'http://10.4.5.174:94/team/peter.jpg', 2, NULL, NULL, NULL)
INSERT [dbo].[TeamMembers] ([ID], [Name], [JobName], [Image], [Position], [FacebookURL], [TwitterURL], [InstagramURL]) VALUES (3, N'Henry', N'Senior Software Engineer', N'http://10.4.5.174:94/team/MyAvatar.jpg', 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TeamMembers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [PasswordSalt], [Email], [RoleID], [ImageURL], [OCID], [LevelOC]) VALUES (1, N'admin', 0xB0AF4547E316883666B161146A0EF9FE3645BD00F326C725BE213819EA6F5576FFAE86E39412AB9BC54A87AF59BE43CB33FB84999E9F106FDE60EA0C49D4E27D, 0x5F12512657030F717495AACB41AC21C3F6FC9B0A5BE1EBCDB193A238247900E2F1DA9F77AE0A6581440F1A82017AE1065064E8AF1026B208DCEACC1875F9CDB83DD2C0DBE86B74F4772F9AB42B320291EBB31D5FEC248DB35CF31C64F149CDCDC4C6FB9C58A014F157551179F9A7646F05AA00EA95E0E915ADBD25A8C9F0AEEA, N'asdas', 1, NULL, 0, 0)
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [PasswordSalt], [Email], [RoleID], [ImageURL], [OCID], [LevelOC]) VALUES (3, N'peter', 0xA9EAF618F32B5359DC9F2A7C45257B3C16A8E5CE3820F56341B1A9420D4650793A3AFE7E1605EC1479E308E42F95A7F2295E720F623126C1F18A43C984FEF6F4, 0x8CC3A2A8D70376BE5D35BF40D9519A39CA236FED59AAE89D6CA19BC14F3A862E2B82F82DA1C5DFBF11255296C7D33D60ADF5BFEE9E1DA0E01B19E3550F6896E4B744C2D145451E07FEEE41C8F734E2A6DC94701E8560AF98E31E6E3AAF10A9D2FD81C1B502C5BFF65826073A09146CF1F445A87CF9AD6C985915D3CF28DF7871, NULL, 2, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
